# 🔧 Tool: sql

**Dataset:** titanic
**난이도:** 하

**Q.** 성별별 승객 수를 출력하는 SELECT 쿼리를 작성하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** tips
**난이도:** 중하

**Q.** Survived 열에 따라 승객의 수를 카운트하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** tips
**난이도:** 하

**Q.** 성별별 승객 수를 출력하는 SELECT 쿼리를 작성하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** tips
**난이도:** 중

**Q.** 성별별 생존율을 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** 칼럼 제거
**난이도:** 하

**Q.** 성별을 제외한 열을 출력하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("칼럼 제거")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** 묵시적 형 변환
**난이도:** 중하

**Q.** 성별을 숫자로 변환하여 출력하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("묵시적 형 변환")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** penguins
**난이도:** 하

**Q.** 인른의 몸무게가 5000g 이하인

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** tips
**난이도:** 하

**Q.** 칵테일 바에서 가장 저렴한 음료는 무엇입니까? 가격이 가장 낮은 음료의 이름과 가격을 출력하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: sql

**Dataset:** tips
**난이도:** 중하

**Q.** 칵테일 바의 기본 투팍을 찾는 데 사용되는 재료는 무엇입니까? 해당 정보는 기본투팍에서 찾을 수 있습니다.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 중

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 중

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 중

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** diamonds
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("diamonds")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** diamonds
**난이도:** 중

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("diamonds")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** Here are two SQL problems suitable for learning, with a difficulty level of low to medium:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** **Problem 1: Low difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** 🚗 `car_crashes` 테이블에서 2010년 이내의 사고 건수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** Translation: Retrieve the number of accidents that occurred within 2010 from the `car_crashes` table.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** **Problem 2: Medium difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** 🐧 `penguins` 테이블에서 흰색 plumage를 가진 펭귄의 평균 몸무게를 구하세요. 또한, 이를 50kg 이상, 50kg 이하로 구분하여 결과를 출력하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** Translation: Retrieve the average weight of penguins with white plumage from the `penguins` table. Additionally, group the results into two categories: those with a weight greater than 50kg and those with a weight less than 50kg.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** Here are two SQL problems suitable for learning SQL, using the given datasets and difficulty levels:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 1: 하 (Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** 📍 car_crashes 테이블에서 2020년에 발생한 교통사고의 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** Translation: Count the number of car crashes that occurred in 2020 in the car_crashes table.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 2: 중 (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** 📊 tips 테이블에서 5% 이상의 팁을 받은 주문 중, 가장 많은 팁을 받은 주문의 총액을 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** Translation: Find the total amount of the largest tip received by an order that received a tip of 5% or more in the tips table.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** Let me know if you need any modifications or additional problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** Here are two SQL problems that fit the conditions:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** **Problem 1 (Easy, Low-Moderate difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** 🚗 자동차 충돌 사고 데이터에서 가장 빈번한 교차로 유형을 찾으세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** (Translation: Find the most frequent intersection types in the car crashes dataset.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** **Problem 2 (Moderate difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** 🐧 펭귄 데이터에서, 남성 펭귄의 평균 몸길이를 구하세요. 또한, 1m 이상의 몸길이를 가진 펭귄의 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** (Translation: Find the average body length of male penguins in the penguins dataset. Additionally, count the number of penguins with a body length of 1m or more.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** Let me know if you'd like me to adjust the difficulty level or create new problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** Here are two SQL problems for you to practice:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** **Problem 1: 하 (Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** 🚗  car_crashes 테이블에서 2020년 1월 1일부터 2020년 12월 31일까지의 데이터를 조회하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** **Problem 2: 중 (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** ❓  tips 테이블에서 각 서버의 평균 팁액을 구하세요. 또한, 15% 이상 팁액을 주는 서버의 이름을 확인하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** Let me know if you need any help solving these problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** Here are two SQL problems that fit the conditions:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** **Problem 1: 하 (Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** 🚗 car_crashes 테이블에서 '도로면'이 'dry'인 데이터만 추출하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** (Translation: Extract the data from the car_crashes table where the 'surface' is 'dry'.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** **Problem 2: 중 (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** 🐧 penguins 테이블에서 'species'가 'Adelie'인 개체의 'bill_length_mm' 열의 평균 값을 구하세요. 그리고 'bill_length_mm' 열의 최댓값을 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** (Translation: Calculate the average value of the 'bill_length_mm' column for the 'Adelie' species in the penguins table, and also find the maximum value in the same column.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** Here are two SQL problems suitable for learning, with a difficulty level of low to medium:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** 🚗 자동차 사고 데이터셋에서, 2015년부터 2018년까지의 데이터를 포함하여,

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** 사고가 발생한 도로의 길이(Length)가 1km 미만인 경우의 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** 🐧 펭귄 데이터셋에서, 'Adelie'와 'Chinstrap' 두 종의 펭귄의 중량(Average Weight)과 길이(Average Length)을 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** Note: You can adjust the difficulty level and problem complexity to suit your needs. These problems are designed to be simple and easy to understand, while still requiring some basic SQL skills.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** **Problem 1: 하 (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** `titanic` 데이터셋에서 생존자와 사망자의 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** ```sql

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** ? ? ? ?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** **Problem 2: 중 (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** `mpg` 데이터셋에서 30mpg 이상의 자동차의 평균 연비를 구하세요. 이 중에서 4륜구동車의 평균 연비는 얼마나 되나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** ```sql

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** ? ? ? ?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** **Problem 1: 하 (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** SELECT COUNT(*) AS 생존자, COUNT(*) - COUNT(DISTINCT IF(Survived = 1, PassengerId, NULL)) AS 사망자

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** FROM titanic;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** **Problem 2: 중 (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** SELECT AVG(CAST(hp AS FLOAT)) AS 30mpg以上의_평균_연비,

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** AVG(CAST(hp AS FLOAT)) FILTER (WHERE cylinders = 4) AS 4륜구동車의_평균_연비

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** FROM mpg

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 하

**Q.** WHERE mpg >= 30;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** **Problem 1: 하 (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** `titanic` 데이터셋에서 생존자와 사망자의 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** (한글 문제)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** `titanic` 데이터셋에서 생존자와 사망자의 수를 구하세요. 생존자와 사망자의 수가 각각 얼마나 되나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** **Problem 2: 중 (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** `mpg` 데이터셋에서 30mpg 이상의 자동차의 평균 연비를 구하세요. 이 중에서 4륜구동車의 평균 연비는 얼마나 되나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** (한글 문제)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** `mpg` 데이터셋에서 30mpg 이상의 자동차의 평균 연비를 구하세요. 또한, 이 중에서 4륜구동車의 평균 연비는 얼마나 되나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** **Problem 1: Easy**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** Count the number of survivors and deceased passengers in the `titanic` dataset. What are the numbers of survivors and deceased passengers?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** **Problem 2: Medium**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** titanic
**난이도:** 하

**Q.** Calculate the average miles per gallon for cars with a mileage of 30mpg or more in the `mpg` dataset. What is the average miles per gallon for 4-wheel drive cars among them?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** **Problem 1: 하 (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** `titanic` 데이터셋에서 생존자와 사망자의 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** SQL 문제:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** SELECT COUNT(*) AS 생존자, COUNT(CASE WHEN survived = 'yes' THEN 1 ELSE NULL END) AS 사망자

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** FROM titanic;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** **Problem 2: 중 (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** `mpg` 데이터셋에서 30mpg 이상의 자동차의 평균 연비를 구하세요. 이 중에서 4륜구동車의 평균 연비는 얼마나 되나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** SQL 문제:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** SELECT

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** AVG(cty) AS 평균_연비,

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** AVG(cty) FILTER (WHERE cty = '4wd') AS 4륜구동_평균_연비

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** WHERE

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** hwy >= 30;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** Note: The `FILTER` clause is used to calculate the average cty value for 4wd vehicles only, and the `WHERE` clause is used to filter the data to only include vehicles with a highway mpg value of 30 or higher.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** **Problem 1: 하 (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** `titanic` 데이터셋에서 생존자와 사망자의 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** 해결 방안:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** SELECT COUNT(*) AS 생존자수, COUNT(CASE WHEN survived = 'no' THEN 1 END) AS 사망자수

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** FROM titanic;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** **Problem 2: 중 (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** `mpg` 데이터셋에서 30mpg 이상의 자동차의 평균 연비를 구하세요. 이 중에서 4륜구동車의 평균 연비는 얼마나 되나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** 해결 방안:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** SELECT AVG(cylinders) AS 4륜구동車_평균연비, AVG(mpg) AS 30mpg이상_평균연비

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** FROM mpg

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** WHERE mpg >= 30 AND drive LIKE '%4wd%';

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중하

**Q.** Note: The problem is designed to assess the student's understanding of basic SQL syntax, such as COUNT, AVG, and WHERE clauses, as well as their ability to filter data and calculate aggregate values.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** **Problem 1: 하 (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** `titanic` 데이터셋에서 생존자와 사망자의 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** SELECT COUNT(*) AS 생존자, COUNT(CASE WHEN survived = 'yes' THEN 1 ELSE NULL END) AS 사망자

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** FROM titanic;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** **Problem 2: 중 (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** `mpg` 데이터셋에서 30mpg 이상의 자동차의 평균 연비를 구하세요. 이 중에서 4륜구동車의 평균 연비는 얼마나 되나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** SELECT

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** AVG(cty) AS 평균_연비,

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** AVG(cty) FILTER (WHERE cty > 30 AND fourwheeldrive = 'yes') AS 4륜구동_평균_연비

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** WHERE

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** cty > 30;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** Note: The `FILTER` clause is used in the second problem to filter the results for 4-wheel drive vehicles with a city mileage greater than 30mpg.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** **Problem 1: 하 (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** `titanic` 데이터셋에서 생존자와 사망자의 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** SELECT COUNT(*) AS 생존자, COUNT(CASE WHEN survival = '1' THEN 1 ELSE NULL END) AS 사망자

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** FROM titanic;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** **Problem 2: 중 (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** `mpg` 데이터셋에서 30mpg 이상의 자동차의 평균 연비를 구하세요. 이 중에서 4륜구동車의 평균 연비는 얼마나 되나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** SELECT

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** AVG(cty) AS 평균연비,

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** AVG(CASE WHEN fl == '4wd' THEN cty ELSE NULL END) AS 4륜구동車평균연비

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** FROM mpg

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** WHERE cty >= 30;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** mpg
**난이도:** 중

**Q.** Note: I used the `cty` column to represent the city driving mileage and the `fl` column to represent the type of transmission (4wd or not). Let me know if you need any changes! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** **Problem 1: Low Difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** 🌼 irises dataset

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** **질문:** iris 데이터셋에서 Sepal Length가 가장 긴 꽃을 찾고, 평균 Sepal Width를 구하라.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** ** Hint:** Use the `MAX` and `AVG` aggregation functions, and filter the dataset to get the desired result.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** **Solution:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** SELECT AVG(sw) AS 평균SepalWidth

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** FROM iris

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** WHERE sl = (SELECT MAX(sl) FROM iris);

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** **Problem 2: Medium Difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** 🛬 flights dataset

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** **질문:** flights 데이터셋에서 2020년 1월 1일부터 2020년 1월 31일까지의 항공편에서 가장 높은 탑승률을 기록한 항공편을 찾고, 평균 탑승률을 구하라.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** **Hint:** Use the `DATE_TRUNC` function to extract the month and year from the `departure_time` column, and then filter the dataset to get the desired result.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** **Solution:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** SELECT AVG(pax) AS 평균탑승률

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** FROM flights

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** WHERE DATE_TRUNC('month', departure_time) BETWEEN '2020-01-01' AND '2020-01-31'

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** ORDER BY pax DESC

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** LIMIT 1;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** Let me know if you need any changes or modifications! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 하

**Q.** **Problem 1: 중하 (Medium-Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 하

**Q.** 이리스 데이터셋에서, 세 개의 꽃 종류(petal length, petal width, sepal length) 중 가장 긴 꽃의 평균 길이를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 하

**Q.** (Note: You can use the `iris` dataset, which contains information about three types of iris flowers. You need to find the average length of the longest flower among the three types.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 하

**Q.** **Problem 2: 중 (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 하

**Q.** 항공편 데이터셋에서, 2020년에 출발한 항공편의 평균 대기 시간을 구하세요. 이 때, 대기 시간은 15분 단위로 집계되어 있습니다.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 하

**Q.** (Note: You can use the `flights` dataset, which contains information about flights. You need to find the average delay time of flights that departed in 2020, considering the delay time is aggregated in 15-minute units.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 하

**Q.** Let me know if you need any changes! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 중하

**Q.** **Problem 1: 하 (Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 중하

**Q.** 🌼 iris 데이터셋에서 Sepal Length의 평균을 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 중하

**Q.** (Hint: Use the `AVG` function to find the average Sepal Length in the iris dataset.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 중하

**Q.** **Problem 2: 중하 (Mid-Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 중하

**Q.** 🛬 flights 데이터셋에서 Departure Delay의 평균을 구하세요. 또한, Departure Delay가 15분 이상인 항공편의 비율을 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 중하

**Q.** (Hint: Use the `AVG` function to find the average Departure Delay in the flights dataset. For the second part, use a `CASE` statement to count the number of flights with a Departure Delay of 15 minutes or more.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** iris
**난이도:** 중하

**Q.** Let me know if you need any changes or if you'd like me to generate more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** **Problem 1: Low difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** 🌼 `iris` 데이터셋에서 Sepal Length가 가장 긴 꽃의 평균 Sepal Width를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** **Problem 2: Medium difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중하

**Q.** 🛬 `flights` 데이터셋에서 2020년 1월 1일부터 2020년 1월 31일까지의 항공편의 평균 탑승객 수를 구하세요. 또한, 평균 탑승객 수가 가장 많은 항공편의 Carrier를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** **Problem 1: 중하난이도**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** 🌼 iris 데이터셋에서 평균 꽃잎 길이를 구하세요. 필요한 경우에는 필요한 열만 선택하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** **Problem 2: 중난이도**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** 🛬 flights 데이터셋에서 2019년 3월에 출발한 모든 항공편의 평균 항속 시간을 구하세요. 필요한 경우에는 필요한 열만 선택하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** penguins
**난이도:** 중

**Q.** I hope these problems meet your requirements! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** `iris` 데이터셋에서 Sepal Length가 가장 긴 3종의 꽃의 평균 Sepal Length를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** **Problem 2 (중, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** `flights` 데이터셋에서 2020년에 출발한 항공편의 평균 도착지 지리적 위도(latitude)를 구하세요. 또한, 2020년에 출발한 항공편 중 가장 높은 도착지 지리적 위도를 가진 항공편은 어디였나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** `penguins` 데이터셋에서 Adelie, Chinstrap, Gentoo 세 종의 펭귄의 평균 몸길이를 구하세요. 또한, 이 세 종의 펭귄 중 가장 긴 몸길이를 가진 펭귄은 어디였나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** **Problem 2 (중, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** `car_crashes` 데이터셋에서 2019년에 발생한 교통사고의 평균 피해액을 구하세요. 또한, 2019년에 발생한 교통사고 중 가장 큰 피해액을 가진 교통사고는 어디였나요? (Hint: You may need to use a subquery or a join operation to solve this problem.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** `penguins` 데이터셋에서 가장 긴 날개의 길이를 가진 3종의 펭귄의 평균 날개의 길이를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** **Problem 2 (중, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** `car_crashes` 데이터셋에서 2020년에 발생한 자동차 충돌 사고의 평균 속도를 구하세요. 또한, 2020년에 발생한 자동차 충돌 사고 중 가장 높은 속도를 가진 사고는 어디서 일어났나요? ( Hint: 속도는 km/h 로 표시됩니다.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중하

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중하

**Q.** `penguins` 데이터셋에서 가장 큰 두 종의 펭귄의 평균 몸길이를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중하

**Q.** **Problem 2 (중, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중하

**Q.** `car_crashes` 데이터셋에서 2019년에 발생한 교통사고의 평균 속도(speed)를 구하세요. 또한, 2019년에 발생한 교통사고 중 가장 높은 속도를 가진 교통사고는 어디에서 발생했나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중하

**Q.** Let me know if these problems meet your requirements or if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중하

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중하

**Q.** `penguins` 데이터셋에서 Adelie, Chinstrap, Gentoo 3종의 펭귄의 평균 Body Mass를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중하

**Q.** **Problem 2 (중, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중하

**Q.** `car_crashes` 데이터셋에서 2015년에 발생한 교통사고의 평균 속도(speed)와 사망자 수를 구하세요. 또한, 2015년에 발생한 교통사고 중 가장 많은 사망자를 발생시킨 교통사고의 속도는 얼마였나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중하

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** `penguins` 데이터셋에서 Adelie, Chinstrap, Gentoo 3종의 펭귄의 평균 몸길이를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** **Hint:** Use the `AVG` function and filter the data by species.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** **Problem 2 (중하, Medium-Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** `car_crashes` 데이터셋에서 2019년에 발생한 교통사고 중_fatal( chết 인) 사고의 수를 구하세요. 또한, 2019년에 발생한 fatal 사고 중 가장 많은 사망자를 초래한 도시 이름은 무엇입니까?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** **Hint:** Use the `COUNT` function and filter the data by year and severity.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** **Problem 3 (중, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** `flights` 데이터셋에서 2020년에 출발한 항공편의 평균 도착지 지리적 위도(latitude)를 구하세요. 또한, 2020년에 출발한 항공편 중 가장 높은 도착지 지리적 위도를 가진 항공편은 어디였나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** **Hint:** Use the `AVG` function and filter the data by year. For the second part, use the `MAX` function and filter the data by year.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** `penguins` 데이터셋에서 Flipper Length가 가장 긴 3마리의 펭귄의 Flipper Length를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** **Problem 2 (중하, Medium-Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** `car_crashes` 데이터셋에서 2015년에 발생한 교통사고에서 사망자가 있었던 경우의 평균 속도(speed)를 구하세요. 또한, 2015년에 발생한 교통사고에서 사망자가 있었던 경우 중 가장 높은 속도를 가진 교통사고는 어디였나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** `car_crashes` 데이터셋에서 2018년 기준으로 가장 많은 교통사고가 발생한 도시의 이름을 구하세요. 또한, 그 도시에서 발생한 교통사고의 총 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 2 (중하, Medium-Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** `tips` 데이터셋에서 2019년에 제공된 팁의 평균 값을 구하세요. 또한, 2019년에 가장 많은 팁을 제공한 직원은 누구였나요? (Hint: You may need to join two tables)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** `flights` 데이터셋에서 "Delta" 항공사의 평균 도착지 지리적 위도를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 2 (중, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** `car_crashes` 데이터셋에서 2018년에 발생한 교통사고의 경우, 18-24세의 운전자와 25-34세의 운전자의 사고율을 비교하여, 더 높은 사고율을 가진 연령층은 어디였나요? 또한, 2018년에 발생한 교통사고 중 가장 많은 사고가 발생한 날은 언제였나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중하

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중하

**Q.** `car_crashes` 데이터셋에서 2019년에 발생한 교통사고의 피해자수는 얼마였나요? 또한, 2019년에 발생한 교통사고 중 가장 많은 피해자가 발생한 날은 언제였나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중하

**Q.** **Problem 2 (중, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중하

**Q.** `tips` 데이터셋에서 2020년에 제공된 팁의 평균 금액은 얼마였나요? 또한, 2020년에 제공된 팁 중 가장 큰 팁은 어디에서 제공되었나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** car_crashes
**난이도:** 중하

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 중하

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 중하

**Q.** `flights` 데이터셋에서 2020년에 출발한 항공편의 평균 도착지 도시 이름을 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 중하

**Q.** **Problem 2 (중하, Medium-Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 중하

**Q.** `car_crashes` 데이터셋에서 2019년에 발생한 교통사고의 평균 속도 속도를 구하세요. 또한, 2019년에 발생한 교통사고 중 가장 높은 속도를 기록한 사고는 어디였나요? ( Hint: You may need to use a subquery or join with another table.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 중하

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** `car_crashes` 데이터셋에서 2019년에 발생한 교통사고의 총 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** **Problem 2 (중, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** flights
**난이도:** 중

**Q.** `flights` 데이터셋에서 2019년에 출발한 항공편의 평균 도착지 지리적 위도(latitude)를 구하세요. 또한, 2019년에 출발한 항공편 중 가장 많은 승객을 태운 항공편은 어디였나요?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 중

**Q.** **Problem 1 (하, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 중

**Q.** `flights` 데이터셋에서 2020년에 출발한 항공편 중 가장 많은 도착지 도시를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 중

**Q.** **Problem 2 (중하, Medium-Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 중

**Q.** `car_crashes` 데이터셋에서 2019년에 발생한 교통사고 중, 20대 연령대에 해당하는 주민이 가장 많이 발생한 도로 형태를 구하세요. 또한, 20대 연령대에 해당하는 주민이 가장 많이 발생한 교통사고의 최빈 도시를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: SQL

**Dataset:** tips
**난이도:** 중

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)