# ğŸ”§ Tool: sql

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** ì„±ë³„ë³„ ìŠ¹ê° ìˆ˜ë¥¼ ì¶œë ¥í•˜ëŠ” SELECT ì¿¼ë¦¬ë¥¼ ì‘ì„±í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: sql

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Survived ì—´ì— ë”°ë¼ ìŠ¹ê°ì˜ ìˆ˜ë¥¼ ì¹´ìš´íŠ¸í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: sql

**Dataset:** tips
**ë‚œì´ë„:** í•˜

**Q.** ì„±ë³„ë³„ ìŠ¹ê° ìˆ˜ë¥¼ ì¶œë ¥í•˜ëŠ” SELECT ì¿¼ë¦¬ë¥¼ ì‘ì„±í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: sql

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘

**Q.** ì„±ë³„ë³„ ìƒì¡´ìœ¨ì„ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: sql

**Dataset:** ì¹¼ëŸ¼ ì œê±°
**ë‚œì´ë„:** í•˜

**Q.** ì„±ë³„ì„ ì œì™¸í•œ ì—´ì„ ì¶œë ¥í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("ì¹¼ëŸ¼ ì œê±°")
dataset.head(1)

# ğŸ”§ Tool: sql

**Dataset:** ë¬µì‹œì  í˜• ë³€í™˜
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** ì„±ë³„ì„ ìˆ«ìë¡œ ë³€í™˜í•˜ì—¬ ì¶œë ¥í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("ë¬µì‹œì  í˜• ë³€í™˜")
dataset.head(1)

# ğŸ”§ Tool: sql

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** ì¸ë¥¸ì˜ ëª¸ë¬´ê²Œê°€ 5000g ì´í•˜ì¸

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: sql

**Dataset:** tips
**ë‚œì´ë„:** í•˜

**Q.** ì¹µí…Œì¼ ë°”ì—ì„œ ê°€ì¥ ì €ë ´í•œ ìŒë£ŒëŠ” ë¬´ì—‡ì…ë‹ˆê¹Œ? ê°€ê²©ì´ ê°€ì¥ ë‚®ì€ ìŒë£Œì˜ ì´ë¦„ê³¼ ê°€ê²©ì„ ì¶œë ¥í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: sql

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** ì¹µí…Œì¼ ë°”ì˜ ê¸°ë³¸ íˆ¬íŒì„ ì°¾ëŠ” ë° ì‚¬ìš©ë˜ëŠ” ì¬ë£ŒëŠ” ë¬´ì—‡ì…ë‹ˆê¹Œ? í•´ë‹¹ ì •ë³´ëŠ” ê¸°ë³¸íˆ¬íŒì—ì„œ ì°¾ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** ì¤‘

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** ì¤‘

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** ì¤‘

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** diamonds
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("diamonds")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** diamonds
**ë‚œì´ë„:** ì¤‘

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("diamonds")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** Here are two SQL problems suitable for learning, with a difficulty level of low to medium:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1: Low difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** ğŸš— `car_crashes` í…Œì´ë¸”ì—ì„œ 2010ë…„ ì´ë‚´ì˜ ì‚¬ê³  ê±´ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** Translation: Retrieve the number of accidents that occurred within 2010 from the `car_crashes` table.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2: Medium difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** ğŸ§ `penguins` í…Œì´ë¸”ì—ì„œ í°ìƒ‰ plumageë¥¼ ê°€ì§„ í­ê·„ì˜ í‰ê·  ëª¸ë¬´ê²Œë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, ì´ë¥¼ 50kg ì´ìƒ, 50kg ì´í•˜ë¡œ êµ¬ë¶„í•˜ì—¬ ê²°ê³¼ë¥¼ ì¶œë ¥í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** Translation: Retrieve the average weight of penguins with white plumage from the `penguins` table. Additionally, group the results into two categories: those with a weight greater than 50kg and those with a weight less than 50kg.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** Here are two SQL problems suitable for learning SQL, using the given datasets and difficulty levels:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1: í•˜ (Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** ğŸ“ car_crashes í…Œì´ë¸”ì—ì„œ 2020ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³ ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** Translation: Count the number of car crashes that occurred in 2020 in the car_crashes table.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2: ì¤‘ (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** ğŸ“Š tips í…Œì´ë¸”ì—ì„œ 5% ì´ìƒì˜ íŒì„ ë°›ì€ ì£¼ë¬¸ ì¤‘, ê°€ì¥ ë§ì€ íŒì„ ë°›ì€ ì£¼ë¬¸ì˜ ì´ì•¡ì„ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** Translation: Find the total amount of the largest tip received by an order that received a tip of 5% or more in the tips table.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** Let me know if you need any modifications or additional problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Here are two SQL problems that fit the conditions:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 1 (Easy, Low-Moderate difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** ğŸš— ìë™ì°¨ ì¶©ëŒ ì‚¬ê³  ë°ì´í„°ì—ì„œ ê°€ì¥ ë¹ˆë²ˆí•œ êµì°¨ë¡œ ìœ í˜•ì„ ì°¾ìœ¼ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** (Translation: Find the most frequent intersection types in the car crashes dataset.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 2 (Moderate difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** ğŸ§ í­ê·„ ë°ì´í„°ì—ì„œ, ë‚¨ì„± í­ê·„ì˜ í‰ê·  ëª¸ê¸¸ì´ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 1m ì´ìƒì˜ ëª¸ê¸¸ì´ë¥¼ ê°€ì§„ í­ê·„ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** (Translation: Find the average body length of male penguins in the penguins dataset. Additionally, count the number of penguins with a body length of 1m or more.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Let me know if you'd like me to adjust the difficulty level or create new problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Here are two SQL problems for you to practice:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 1: í•˜ (Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** ğŸš—  car_crashes í…Œì´ë¸”ì—ì„œ 2020ë…„ 1ì›” 1ì¼ë¶€í„° 2020ë…„ 12ì›” 31ì¼ê¹Œì§€ì˜ ë°ì´í„°ë¥¼ ì¡°íšŒí•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 2: ì¤‘ (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** â“  tips í…Œì´ë¸”ì—ì„œ ê° ì„œë²„ì˜ í‰ê·  íŒì•¡ì„ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 15% ì´ìƒ íŒì•¡ì„ ì£¼ëŠ” ì„œë²„ì˜ ì´ë¦„ì„ í™•ì¸í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Let me know if you need any help solving these problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** Here are two SQL problems that fit the conditions:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 1: í•˜ (Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** ğŸš— car_crashes í…Œì´ë¸”ì—ì„œ 'ë„ë¡œë©´'ì´ 'dry'ì¸ ë°ì´í„°ë§Œ ì¶”ì¶œí•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** (Translation: Extract the data from the car_crashes table where the 'surface' is 'dry'.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 2: ì¤‘ (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** ğŸ§ penguins í…Œì´ë¸”ì—ì„œ 'species'ê°€ 'Adelie'ì¸ ê°œì²´ì˜ 'bill_length_mm' ì—´ì˜ í‰ê·  ê°’ì„ êµ¬í•˜ì„¸ìš”. ê·¸ë¦¬ê³  'bill_length_mm' ì—´ì˜ ìµœëŒ“ê°’ì„ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** (Translation: Calculate the average value of the 'bill_length_mm' column for the 'Adelie' species in the penguins table, and also find the maximum value in the same column.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** Here are two SQL problems suitable for learning, with a difficulty level of low to medium:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** ğŸš— ìë™ì°¨ ì‚¬ê³  ë°ì´í„°ì…‹ì—ì„œ, 2015ë…„ë¶€í„° 2018ë…„ê¹Œì§€ì˜ ë°ì´í„°ë¥¼ í¬í•¨í•˜ì—¬,

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** ì‚¬ê³ ê°€ ë°œìƒí•œ ë„ë¡œì˜ ê¸¸ì´(Length)ê°€ 1km ë¯¸ë§Œì¸ ê²½ìš°ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** ğŸ§ í­ê·„ ë°ì´í„°ì…‹ì—ì„œ, 'Adelie'ì™€ 'Chinstrap' ë‘ ì¢…ì˜ í­ê·„ì˜ ì¤‘ëŸ‰(Average Weight)ê³¼ ê¸¸ì´(Average Length)ì„ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** Note: You can adjust the difficulty level and problem complexity to suit your needs. These problems are designed to be simple and easy to understand, while still requiring some basic SQL skills.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1: í•˜ (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** `titanic` ë°ì´í„°ì…‹ì—ì„œ ìƒì¡´ìì™€ ì‚¬ë§ìì˜ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** ```sql

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** ? ? ? ?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2: ì¤‘ (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** `mpg` ë°ì´í„°ì…‹ì—ì„œ 30mpg ì´ìƒì˜ ìë™ì°¨ì˜ í‰ê·  ì—°ë¹„ë¥¼ êµ¬í•˜ì„¸ìš”. ì´ ì¤‘ì—ì„œ 4ë¥œêµ¬ë™è»Šì˜ í‰ê·  ì—°ë¹„ëŠ” ì–¼ë§ˆë‚˜ ë˜ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** ```sql

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** ? ? ? ?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1: í•˜ (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** SELECT COUNT(*) AS ìƒì¡´ì, COUNT(*) - COUNT(DISTINCT IF(Survived = 1, PassengerId, NULL)) AS ì‚¬ë§ì

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** FROM titanic;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2: ì¤‘ (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** SELECT AVG(CAST(hp AS FLOAT)) AS 30mpgä»¥ä¸Šì˜_í‰ê· _ì—°ë¹„,

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** AVG(CAST(hp AS FLOAT)) FILTER (WHERE cylinders = 4) AS 4ë¥œêµ¬ë™è»Šì˜_í‰ê· _ì—°ë¹„

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** FROM mpg

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** í•˜

**Q.** WHERE mpg >= 30;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1: í•˜ (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** `titanic` ë°ì´í„°ì…‹ì—ì„œ ìƒì¡´ìì™€ ì‚¬ë§ìì˜ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** (í•œê¸€ ë¬¸ì œ)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** `titanic` ë°ì´í„°ì…‹ì—ì„œ ìƒì¡´ìì™€ ì‚¬ë§ìì˜ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”. ìƒì¡´ìì™€ ì‚¬ë§ìì˜ ìˆ˜ê°€ ê°ê° ì–¼ë§ˆë‚˜ ë˜ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2: ì¤‘ (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** `mpg` ë°ì´í„°ì…‹ì—ì„œ 30mpg ì´ìƒì˜ ìë™ì°¨ì˜ í‰ê·  ì—°ë¹„ë¥¼ êµ¬í•˜ì„¸ìš”. ì´ ì¤‘ì—ì„œ 4ë¥œêµ¬ë™è»Šì˜ í‰ê·  ì—°ë¹„ëŠ” ì–¼ë§ˆë‚˜ ë˜ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** (í•œê¸€ ë¬¸ì œ)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** `mpg` ë°ì´í„°ì…‹ì—ì„œ 30mpg ì´ìƒì˜ ìë™ì°¨ì˜ í‰ê·  ì—°ë¹„ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, ì´ ì¤‘ì—ì„œ 4ë¥œêµ¬ë™è»Šì˜ í‰ê·  ì—°ë¹„ëŠ” ì–¼ë§ˆë‚˜ ë˜ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1: Easy**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** Count the number of survivors and deceased passengers in the `titanic` dataset. What are the numbers of survivors and deceased passengers?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2: Medium**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** titanic
**ë‚œì´ë„:** í•˜

**Q.** Calculate the average miles per gallon for cars with a mileage of 30mpg or more in the `mpg` dataset. What is the average miles per gallon for 4-wheel drive cars among them?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 1: í•˜ (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `titanic` ë°ì´í„°ì…‹ì—ì„œ ìƒì¡´ìì™€ ì‚¬ë§ìì˜ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** SQL ë¬¸ì œ:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** SELECT COUNT(*) AS ìƒì¡´ì, COUNT(CASE WHEN survived = 'yes' THEN 1 ELSE NULL END) AS ì‚¬ë§ì

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** FROM titanic;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 2: ì¤‘ (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `mpg` ë°ì´í„°ì…‹ì—ì„œ 30mpg ì´ìƒì˜ ìë™ì°¨ì˜ í‰ê·  ì—°ë¹„ë¥¼ êµ¬í•˜ì„¸ìš”. ì´ ì¤‘ì—ì„œ 4ë¥œêµ¬ë™è»Šì˜ í‰ê·  ì—°ë¹„ëŠ” ì–¼ë§ˆë‚˜ ë˜ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** SQL ë¬¸ì œ:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** SELECT

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** AVG(cty) AS í‰ê· _ì—°ë¹„,

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** AVG(cty) FILTER (WHERE cty = '4wd') AS 4ë¥œêµ¬ë™_í‰ê· _ì—°ë¹„

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** WHERE

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** hwy >= 30;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Note: The `FILTER` clause is used to calculate the average cty value for 4wd vehicles only, and the `WHERE` clause is used to filter the data to only include vehicles with a highway mpg value of 30 or higher.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 1: í•˜ (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `titanic` ë°ì´í„°ì…‹ì—ì„œ ìƒì¡´ìì™€ ì‚¬ë§ìì˜ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** í•´ê²° ë°©ì•ˆ:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** SELECT COUNT(*) AS ìƒì¡´ììˆ˜, COUNT(CASE WHEN survived = 'no' THEN 1 END) AS ì‚¬ë§ììˆ˜

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** FROM titanic;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 2: ì¤‘ (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `mpg` ë°ì´í„°ì…‹ì—ì„œ 30mpg ì´ìƒì˜ ìë™ì°¨ì˜ í‰ê·  ì—°ë¹„ë¥¼ êµ¬í•˜ì„¸ìš”. ì´ ì¤‘ì—ì„œ 4ë¥œêµ¬ë™è»Šì˜ í‰ê·  ì—°ë¹„ëŠ” ì–¼ë§ˆë‚˜ ë˜ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** í•´ê²° ë°©ì•ˆ:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** SELECT AVG(cylinders) AS 4ë¥œêµ¬ë™è»Š_í‰ê· ì—°ë¹„, AVG(mpg) AS 30mpgì´ìƒ_í‰ê· ì—°ë¹„

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** FROM mpg

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** WHERE mpg >= 30 AND drive LIKE '%4wd%';

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Note: The problem is designed to assess the student's understanding of basic SQL syntax, such as COUNT, AVG, and WHERE clauses, as well as their ability to filter data and calculate aggregate values.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 1: í•˜ (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** `titanic` ë°ì´í„°ì…‹ì—ì„œ ìƒì¡´ìì™€ ì‚¬ë§ìì˜ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** SELECT COUNT(*) AS ìƒì¡´ì, COUNT(CASE WHEN survived = 'yes' THEN 1 ELSE NULL END) AS ì‚¬ë§ì

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** FROM titanic;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 2: ì¤‘ (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** `mpg` ë°ì´í„°ì…‹ì—ì„œ 30mpg ì´ìƒì˜ ìë™ì°¨ì˜ í‰ê·  ì—°ë¹„ë¥¼ êµ¬í•˜ì„¸ìš”. ì´ ì¤‘ì—ì„œ 4ë¥œêµ¬ë™è»Šì˜ í‰ê·  ì—°ë¹„ëŠ” ì–¼ë§ˆë‚˜ ë˜ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** SELECT

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** AVG(cty) AS í‰ê· _ì—°ë¹„,

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** AVG(cty) FILTER (WHERE cty > 30 AND fourwheeldrive = 'yes') AS 4ë¥œêµ¬ë™_í‰ê· _ì—°ë¹„

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** WHERE

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** cty > 30;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** Note: The `FILTER` clause is used in the second problem to filter the results for 4-wheel drive vehicles with a city mileage greater than 30mpg.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 1: í•˜ (Easy)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** `titanic` ë°ì´í„°ì…‹ì—ì„œ ìƒì¡´ìì™€ ì‚¬ë§ìì˜ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** SELECT COUNT(*) AS ìƒì¡´ì, COUNT(CASE WHEN survival = '1' THEN 1 ELSE NULL END) AS ì‚¬ë§ì

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** FROM titanic;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 2: ì¤‘ (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** `mpg` ë°ì´í„°ì…‹ì—ì„œ 30mpg ì´ìƒì˜ ìë™ì°¨ì˜ í‰ê·  ì—°ë¹„ë¥¼ êµ¬í•˜ì„¸ìš”. ì´ ì¤‘ì—ì„œ 4ë¥œêµ¬ë™è»Šì˜ í‰ê·  ì—°ë¹„ëŠ” ì–¼ë§ˆë‚˜ ë˜ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** SELECT

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** AVG(cty) AS í‰ê· ì—°ë¹„,

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** AVG(CASE WHEN fl == '4wd' THEN cty ELSE NULL END) AS 4ë¥œêµ¬ë™è»Ší‰ê· ì—°ë¹„

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** FROM mpg

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** WHERE cty >= 30;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** mpg
**ë‚œì´ë„:** ì¤‘

**Q.** Note: I used the `cty` column to represent the city driving mileage and the `fl` column to represent the type of transmission (4wd or not). Let me know if you need any changes! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1: Low Difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** ğŸŒ¼ irises dataset

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** **ì§ˆë¬¸:** iris ë°ì´í„°ì…‹ì—ì„œ Sepal Lengthê°€ ê°€ì¥ ê¸´ ê½ƒì„ ì°¾ê³ , í‰ê·  Sepal Widthë¥¼ êµ¬í•˜ë¼.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** ** Hint:** Use the `MAX` and `AVG` aggregation functions, and filter the dataset to get the desired result.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** **Solution:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** SELECT AVG(sw) AS í‰ê· SepalWidth

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** FROM iris

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** WHERE sl = (SELECT MAX(sl) FROM iris);

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2: Medium Difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** ğŸ›¬ flights dataset

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** **ì§ˆë¬¸:** flights ë°ì´í„°ì…‹ì—ì„œ 2020ë…„ 1ì›” 1ì¼ë¶€í„° 2020ë…„ 1ì›” 31ì¼ê¹Œì§€ì˜ í•­ê³µí¸ì—ì„œ ê°€ì¥ ë†’ì€ íƒ‘ìŠ¹ë¥ ì„ ê¸°ë¡í•œ í•­ê³µí¸ì„ ì°¾ê³ , í‰ê·  íƒ‘ìŠ¹ë¥ ì„ êµ¬í•˜ë¼.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** **Hint:** Use the `DATE_TRUNC` function to extract the month and year from the `departure_time` column, and then filter the dataset to get the desired result.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** **Solution:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** SELECT AVG(pax) AS í‰ê· íƒ‘ìŠ¹ë¥

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** FROM flights

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** WHERE DATE_TRUNC('month', departure_time) BETWEEN '2020-01-01' AND '2020-01-31'

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** ORDER BY pax DESC

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** LIMIT 1;

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** Let me know if you need any changes or modifications! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1: ì¤‘í•˜ (Medium-Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** í•˜

**Q.** ì´ë¦¬ìŠ¤ ë°ì´í„°ì…‹ì—ì„œ, ì„¸ ê°œì˜ ê½ƒ ì¢…ë¥˜(petal length, petal width, sepal length) ì¤‘ ê°€ì¥ ê¸´ ê½ƒì˜ í‰ê·  ê¸¸ì´ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** í•˜

**Q.** (Note: You can use the `iris` dataset, which contains information about three types of iris flowers. You need to find the average length of the longest flower among the three types.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2: ì¤‘ (Medium)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** í•˜

**Q.** í•­ê³µí¸ ë°ì´í„°ì…‹ì—ì„œ, 2020ë…„ì— ì¶œë°œí•œ í•­ê³µí¸ì˜ í‰ê·  ëŒ€ê¸° ì‹œê°„ì„ êµ¬í•˜ì„¸ìš”. ì´ ë•Œ, ëŒ€ê¸° ì‹œê°„ì€ 15ë¶„ ë‹¨ìœ„ë¡œ ì§‘ê³„ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** í•˜

**Q.** (Note: You can use the `flights` dataset, which contains information about flights. You need to find the average delay time of flights that departed in 2020, considering the delay time is aggregated in 15-minute units.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** í•˜

**Q.** Let me know if you need any changes! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 1: í•˜ (Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** ğŸŒ¼ iris ë°ì´í„°ì…‹ì—ì„œ Sepal Lengthì˜ í‰ê· ì„ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** (Hint: Use the `AVG` function to find the average Sepal Length in the iris dataset.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 2: ì¤‘í•˜ (Mid-Low)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** ğŸ›¬ flights ë°ì´í„°ì…‹ì—ì„œ Departure Delayì˜ í‰ê· ì„ êµ¬í•˜ì„¸ìš”. ë˜í•œ, Departure Delayê°€ 15ë¶„ ì´ìƒì¸ í•­ê³µí¸ì˜ ë¹„ìœ¨ì„ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** (Hint: Use the `AVG` function to find the average Departure Delay in the flights dataset. For the second part, use a `CASE` statement to count the number of flights with a Departure Delay of 15 minutes or more.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** iris
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Let me know if you need any changes or if you'd like me to generate more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 1: Low difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** ğŸŒ¼ `iris` ë°ì´í„°ì…‹ì—ì„œ Sepal Lengthê°€ ê°€ì¥ ê¸´ ê½ƒì˜ í‰ê·  Sepal Widthë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 2: Medium difficulty**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** ğŸ›¬ `flights` ë°ì´í„°ì…‹ì—ì„œ 2020ë…„ 1ì›” 1ì¼ë¶€í„° 2020ë…„ 1ì›” 31ì¼ê¹Œì§€ì˜ í•­ê³µí¸ì˜ í‰ê·  íƒ‘ìŠ¹ê° ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, í‰ê·  íƒ‘ìŠ¹ê° ìˆ˜ê°€ ê°€ì¥ ë§ì€ í•­ê³µí¸ì˜ Carrierë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 1: ì¤‘í•˜ë‚œì´ë„**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** ğŸŒ¼ iris ë°ì´í„°ì…‹ì—ì„œ í‰ê·  ê½ƒì ê¸¸ì´ë¥¼ êµ¬í•˜ì„¸ìš”. í•„ìš”í•œ ê²½ìš°ì—ëŠ” í•„ìš”í•œ ì—´ë§Œ ì„ íƒí•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 2: ì¤‘ë‚œì´ë„**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** ğŸ›¬ flights ë°ì´í„°ì…‹ì—ì„œ 2019ë…„ 3ì›”ì— ì¶œë°œí•œ ëª¨ë“  í•­ê³µí¸ì˜ í‰ê·  í•­ì† ì‹œê°„ì„ êµ¬í•˜ì„¸ìš”. í•„ìš”í•œ ê²½ìš°ì—ëŠ” í•„ìš”í•œ ì—´ë§Œ ì„ íƒí•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** penguins
**ë‚œì´ë„:** ì¤‘

**Q.** I hope these problems meet your requirements! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** `iris` ë°ì´í„°ì…‹ì—ì„œ Sepal Lengthê°€ ê°€ì¥ ê¸´ 3ì¢…ì˜ ê½ƒì˜ í‰ê·  Sepal Lengthë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 2 (ì¤‘, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** `flights` ë°ì´í„°ì…‹ì—ì„œ 2020ë…„ì— ì¶œë°œí•œ í•­ê³µí¸ì˜ í‰ê·  ë„ì°©ì§€ ì§€ë¦¬ì  ìœ„ë„(latitude)ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 2020ë…„ì— ì¶œë°œí•œ í•­ê³µí¸ ì¤‘ ê°€ì¥ ë†’ì€ ë„ì°©ì§€ ì§€ë¦¬ì  ìœ„ë„ë¥¼ ê°€ì§„ í•­ê³µí¸ì€ ì–´ë””ì˜€ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** `penguins` ë°ì´í„°ì…‹ì—ì„œ Adelie, Chinstrap, Gentoo ì„¸ ì¢…ì˜ í­ê·„ì˜ í‰ê·  ëª¸ê¸¸ì´ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, ì´ ì„¸ ì¢…ì˜ í­ê·„ ì¤‘ ê°€ì¥ ê¸´ ëª¸ê¸¸ì´ë¥¼ ê°€ì§„ í­ê·„ì€ ì–´ë””ì˜€ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2 (ì¤‘, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2019ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³ ì˜ í‰ê·  í”¼í•´ì•¡ì„ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 2019ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³  ì¤‘ ê°€ì¥ í° í”¼í•´ì•¡ì„ ê°€ì§„ êµí†µì‚¬ê³ ëŠ” ì–´ë””ì˜€ë‚˜ìš”? (Hint: You may need to use a subquery or a join operation to solve this problem.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** `penguins` ë°ì´í„°ì…‹ì—ì„œ ê°€ì¥ ê¸´ ë‚ ê°œì˜ ê¸¸ì´ë¥¼ ê°€ì§„ 3ì¢…ì˜ í­ê·„ì˜ í‰ê·  ë‚ ê°œì˜ ê¸¸ì´ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2 (ì¤‘, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2020ë…„ì— ë°œìƒí•œ ìë™ì°¨ ì¶©ëŒ ì‚¬ê³ ì˜ í‰ê·  ì†ë„ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 2020ë…„ì— ë°œìƒí•œ ìë™ì°¨ ì¶©ëŒ ì‚¬ê³  ì¤‘ ê°€ì¥ ë†’ì€ ì†ë„ë¥¼ ê°€ì§„ ì‚¬ê³ ëŠ” ì–´ë””ì„œ ì¼ì–´ë‚¬ë‚˜ìš”? ( Hint: ì†ë„ëŠ” km/h ë¡œ í‘œì‹œë©ë‹ˆë‹¤.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** í•˜

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `penguins` ë°ì´í„°ì…‹ì—ì„œ ê°€ì¥ í° ë‘ ì¢…ì˜ í­ê·„ì˜ í‰ê·  ëª¸ê¸¸ì´ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 2 (ì¤‘, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2019ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³ ì˜ í‰ê·  ì†ë„(speed)ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 2019ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³  ì¤‘ ê°€ì¥ ë†’ì€ ì†ë„ë¥¼ ê°€ì§„ êµí†µì‚¬ê³ ëŠ” ì–´ë””ì—ì„œ ë°œìƒí–ˆë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Let me know if these problems meet your requirements or if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `penguins` ë°ì´í„°ì…‹ì—ì„œ Adelie, Chinstrap, Gentoo 3ì¢…ì˜ í­ê·„ì˜ í‰ê·  Body Massë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 2 (ì¤‘, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2015ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³ ì˜ í‰ê·  ì†ë„(speed)ì™€ ì‚¬ë§ì ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 2015ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³  ì¤‘ ê°€ì¥ ë§ì€ ì‚¬ë§ìë¥¼ ë°œìƒì‹œí‚¨ êµí†µì‚¬ê³ ì˜ ì†ë„ëŠ” ì–¼ë§ˆì˜€ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** `penguins` ë°ì´í„°ì…‹ì—ì„œ Adelie, Chinstrap, Gentoo 3ì¢…ì˜ í­ê·„ì˜ í‰ê·  ëª¸ê¸¸ì´ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** **Hint:** Use the `AVG` function and filter the data by species.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 2 (ì¤‘í•˜, Medium-Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2019ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³  ì¤‘_fatal( cháº¿t ì¸) ì‚¬ê³ ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 2019ë…„ì— ë°œìƒí•œ fatal ì‚¬ê³  ì¤‘ ê°€ì¥ ë§ì€ ì‚¬ë§ìë¥¼ ì´ˆë˜í•œ ë„ì‹œ ì´ë¦„ì€ ë¬´ì—‡ì…ë‹ˆê¹Œ?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** **Hint:** Use the `COUNT` function and filter the data by year and severity.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 3 (ì¤‘, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** `flights` ë°ì´í„°ì…‹ì—ì„œ 2020ë…„ì— ì¶œë°œí•œ í•­ê³µí¸ì˜ í‰ê·  ë„ì°©ì§€ ì§€ë¦¬ì  ìœ„ë„(latitude)ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 2020ë…„ì— ì¶œë°œí•œ í•­ê³µí¸ ì¤‘ ê°€ì¥ ë†’ì€ ë„ì°©ì§€ ì§€ë¦¬ì  ìœ„ë„ë¥¼ ê°€ì§„ í•­ê³µí¸ì€ ì–´ë””ì˜€ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** **Hint:** Use the `AVG` function and filter the data by year. For the second part, use the `MAX` function and filter the data by year.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** `penguins` ë°ì´í„°ì…‹ì—ì„œ Flipper Lengthê°€ ê°€ì¥ ê¸´ 3ë§ˆë¦¬ì˜ í­ê·„ì˜ Flipper Lengthë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 2 (ì¤‘í•˜, Medium-Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2015ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³ ì—ì„œ ì‚¬ë§ìê°€ ìˆì—ˆë˜ ê²½ìš°ì˜ í‰ê·  ì†ë„(speed)ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 2015ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³ ì—ì„œ ì‚¬ë§ìê°€ ìˆì—ˆë˜ ê²½ìš° ì¤‘ ê°€ì¥ ë†’ì€ ì†ë„ë¥¼ ê°€ì§„ êµí†µì‚¬ê³ ëŠ” ì–´ë””ì˜€ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2018ë…„ ê¸°ì¤€ìœ¼ë¡œ ê°€ì¥ ë§ì€ êµí†µì‚¬ê³ ê°€ ë°œìƒí•œ ë„ì‹œì˜ ì´ë¦„ì„ êµ¬í•˜ì„¸ìš”. ë˜í•œ, ê·¸ ë„ì‹œì—ì„œ ë°œìƒí•œ êµí†µì‚¬ê³ ì˜ ì´ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2 (ì¤‘í•˜, Medium-Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** `tips` ë°ì´í„°ì…‹ì—ì„œ 2019ë…„ì— ì œê³µëœ íŒì˜ í‰ê·  ê°’ì„ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 2019ë…„ì— ê°€ì¥ ë§ì€ íŒì„ ì œê³µí•œ ì§ì›ì€ ëˆ„êµ¬ì˜€ë‚˜ìš”? (Hint: You may need to join two tables)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** `flights` ë°ì´í„°ì…‹ì—ì„œ "Delta" í•­ê³µì‚¬ì˜ í‰ê·  ë„ì°©ì§€ ì§€ë¦¬ì  ìœ„ë„ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** **Problem 2 (ì¤‘, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2018ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³ ì˜ ê²½ìš°, 18-24ì„¸ì˜ ìš´ì „ìì™€ 25-34ì„¸ì˜ ìš´ì „ìì˜ ì‚¬ê³ ìœ¨ì„ ë¹„êµí•˜ì—¬, ë” ë†’ì€ ì‚¬ê³ ìœ¨ì„ ê°€ì§„ ì—°ë ¹ì¸µì€ ì–´ë””ì˜€ë‚˜ìš”? ë˜í•œ, 2018ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³  ì¤‘ ê°€ì¥ ë§ì€ ì‚¬ê³ ê°€ ë°œìƒí•œ ë‚ ì€ ì–¸ì œì˜€ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** í•˜

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2019ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³ ì˜ í”¼í•´ììˆ˜ëŠ” ì–¼ë§ˆì˜€ë‚˜ìš”? ë˜í•œ, 2019ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³  ì¤‘ ê°€ì¥ ë§ì€ í”¼í•´ìê°€ ë°œìƒí•œ ë‚ ì€ ì–¸ì œì˜€ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 2 (ì¤‘, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `tips` ë°ì´í„°ì…‹ì—ì„œ 2020ë…„ì— ì œê³µëœ íŒì˜ í‰ê·  ê¸ˆì•¡ì€ ì–¼ë§ˆì˜€ë‚˜ìš”? ë˜í•œ, 2020ë…„ì— ì œê³µëœ íŒ ì¤‘ ê°€ì¥ í° íŒì€ ì–´ë””ì—ì„œ ì œê³µë˜ì—ˆë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** car_crashes
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `flights` ë°ì´í„°ì…‹ì—ì„œ 2020ë…„ì— ì¶œë°œí•œ í•­ê³µí¸ì˜ í‰ê·  ë„ì°©ì§€ ë„ì‹œ ì´ë¦„ì„ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** **Problem 2 (ì¤‘í•˜, Medium-Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2019ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³ ì˜ í‰ê·  ì†ë„ ì†ë„ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 2019ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³  ì¤‘ ê°€ì¥ ë†’ì€ ì†ë„ë¥¼ ê¸°ë¡í•œ ì‚¬ê³ ëŠ” ì–´ë””ì˜€ë‚˜ìš”? ( Hint: You may need to use a subquery or join with another table.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘í•˜

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2019ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³ ì˜ ì´ ìˆ˜ë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 2 (ì¤‘, Medium Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** flights
**ë‚œì´ë„:** ì¤‘

**Q.** `flights` ë°ì´í„°ì…‹ì—ì„œ 2019ë…„ì— ì¶œë°œí•œ í•­ê³µí¸ì˜ í‰ê·  ë„ì°©ì§€ ì§€ë¦¬ì  ìœ„ë„(latitude)ë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 2019ë…„ì— ì¶œë°œí•œ í•­ê³µí¸ ì¤‘ ê°€ì¥ ë§ì€ ìŠ¹ê°ì„ íƒœìš´ í•­ê³µí¸ì€ ì–´ë””ì˜€ë‚˜ìš”?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 1 (í•˜, Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘

**Q.** `flights` ë°ì´í„°ì…‹ì—ì„œ 2020ë…„ì— ì¶œë°œí•œ í•­ê³µí¸ ì¤‘ ê°€ì¥ ë§ì€ ë„ì°©ì§€ ë„ì‹œë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘

**Q.** **Problem 2 (ì¤‘í•˜, Medium-Low Difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘

**Q.** `car_crashes` ë°ì´í„°ì…‹ì—ì„œ 2019ë…„ì— ë°œìƒí•œ êµí†µì‚¬ê³  ì¤‘, 20ëŒ€ ì—°ë ¹ëŒ€ì— í•´ë‹¹í•˜ëŠ” ì£¼ë¯¼ì´ ê°€ì¥ ë§ì´ ë°œìƒí•œ ë„ë¡œ í˜•íƒœë¥¼ êµ¬í•˜ì„¸ìš”. ë˜í•œ, 20ëŒ€ ì—°ë ¹ëŒ€ì— í•´ë‹¹í•˜ëŠ” ì£¼ë¯¼ì´ ê°€ì¥ ë§ì´ ë°œìƒí•œ êµí†µì‚¬ê³ ì˜ ìµœë¹ˆ ë„ì‹œë¥¼ êµ¬í•˜ì„¸ìš”.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# ğŸ”§ Tool: SQL

**Dataset:** tips
**ë‚œì´ë„:** ì¤‘

**Q.** Let me know if you'd like me to adjust the difficulty level or provide more problems! ğŸ˜Š

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)