# 🔧 Tool: viz

**Dataset:** 카테고리
**난이도:** 하

**Q.** 성별을 확인한 후, 각 성별에 해당하는 생존자와 사망자의 수를 카운트하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("카테고리")
dataset.head(1)

# 🔧 Tool: viz

**Dataset:** 요약 통계
**난이도:** 중상

**Q.** Survived와 Pclass에 따라 승객의 수를 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("요약 통계")
dataset.head(1)

# 🔧 Tool: viz

**Dataset:** tips
**난이도:** 하

**Q.** 결측값이 있는 행을 제거하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: viz

**Dataset:** tips
**난이도:** 중상

**Q.** 성별별 생존율을 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: viz

**Dataset:** tips
**난이도:** 하

**Q.** 결측값이 있는 행을 제거하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: viz

**Dataset:** tips
**난이도:** 상

**Q.** 성별별 평균 팁 금액을 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: viz

**Dataset:** penguins
**난이도:** 하

**Q.** 아델리펭귄, 왕펭귄, 갈가리펭귄 등의 스펭스종별 인구 분포를 분석하여, 가장 풍부한 스펭스종을 구하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: viz

**Dataset:** penguins
**난이도:** 중상

**Q.** 펭귄의 몸무게,翼Span, 비둘기 등 3개의 변수에 대한 상관관계 분석을 수행하여, 가장 강한 상관관계를 보여주는 변수를 구하세요. 추가적으로, 이 변수와 관련된 펭귄의 특징을 설명해주세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: viz

**Dataset:** tips
**난이도:** 하

**Q.** What is the relationship between the total bill and tip percentage in the tips dataset?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: viz

**Dataset:** tips
**난이도:** 중하

**Q.** What factors contribute to the likelihood of a customer leaving a large tip (≥ 20%) in the tips dataset?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: viz

**Dataset:** 
**난이도:** `). I also mapped the difficulty level in the correct order (하, 중하, 중상).

**Q.**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** mpg
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중상

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** mpg
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** mpg
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중상

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** mpg
**난이도:** 중상

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** mpg
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** mpg
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중하

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** mpg
**난이도:** 중상

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** mpg
**난이도:** 중상

**Q.** [GROQ ERROR] Error code: 401 - {'error': {'message': 'Invalid API Key', 'type': 'invalid_request_error', 'code': 'invalid_api_key'}}

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("mpg")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** Here are two visualization problems suitable for the given dataset and difficulty range:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** 하단의 문제를 해결하여, "연령대별 자동차 사고 수"를 시각화하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** (The problem is to visualize the "number of car crashes by age group.")

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** 고유의 특징을 고려하여, "펭귄의 길이와 몸무게 간의 상관관계"를 시각화하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** (The problem is to visualize the "correlation between penguin length and weight, considering their unique characteristics.")

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** These problems aim to challenge the user to create visualizations that reveal insights from the given datasets, while keeping the difficulty level moderate to challenging.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** Here are two visualization problems suitable for the given dataset and difficulty range:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 1:** (하, low difficulty)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** 🚗 자동차 사고의 지역별 분포를 지도 위에 시각화하세요. (Visualize the distribution of car crashes by region on a map)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** This problem is suitable for the car_crashes dataset and is relatively easy to visualize using a map.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 2:** (중상, medium-high difficulty)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** 🐧 เพนギュ의 성별과 종의 분포를 함께 시각화하세요. 또한, 각 종의 평균 몸무게와 날갯짓 속도 간의 관계를 추가적으로 시각화하세요. (Visualize the distribution of penguin species and sex, and also the relationship between average body weight and flight speed)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** This problem is suitable for the penguins dataset and requires more complex visualization, such as combining categorical and numerical variables, and creating a scatter plot to show the relationship between two numerical variables.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** Here are two visualization problems that fit the condition:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** 🚗 "사고 수와 날씨 간의 관계를 시각화하세요." (Visualize the relationship between the number of car crashes and weather)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** This problem is suitable for a beginner to intermediate level, as it requires basic visualization skills to create a scatter plot or bar chart to show the correlation between the two variables. The dataset "car_crashes" provides a good opportunity to explore this relationship.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** 🐧 "펭귄의 알의 크기와 생존률 간의 관계를 시각화하세요." (Visualize the relationship between the size of penguin eggs and their survival rate)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** This problem is suitable for an intermediate to advanced level, as it requires more advanced visualization skills to create a scatter plot or heatmap to show the correlation between the two variables. The dataset "penguins" provides a good opportunity to explore this relationship, which can be useful for understanding the factors that affect penguin survival.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** Both problems are written in Korean and are designed to be realistic and relevant to real-world scenarios.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** Here are two visualization problems suitable for a beginner to intermediate level, using the provided datasets:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** 🚗 "요일별 자동차 사고 수를 시각화하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** Using the car_crashes dataset, visualize the average number of car crashes per day of the week. How does the frequency of car crashes vary across different days of the week?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** 🐧 "펭귄의 성별에 따른 몸무게 분포를 시각화하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** Using the penguins dataset, create a histogram to show the distribution of body weights for male and female penguins. Are there any noticeable differences in body weight between the two genders?

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** These problems are designed to be accessible to those with basic knowledge of visualization and data analysis, while still providing a fun and challenging task to practice their skills.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** Here are two new problems that fit the conditions:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** **Problem 1 (하, low difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 🚗 자동차 사고의 지역별 분포를 지도에 표시하세요. 데이터셋: car_crashes

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** **Problem 2 (중상, intermediate difficulty)**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 🐧 펭귄의 성별과 두개골 길이 간의 관계를 상관관계 그래프로 시각화하세요. 데이터셋: penguins

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** These problems are designed to be practical and relevant to real-world scenarios, and are suitable for visualizing data in a way that is easy to understand. Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** Here are two visualization problems suitable for the given dataset and difficulty range:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** 하-난이도

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** 🚗 어떤 자동차 브랜드가 가장 많은 사고를 일으키는지 시각화하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** (This problem is suitable for the "car_crashes" dataset and is relatively easy to solve. It requires creating a bar chart or pie chart to show the top car brands with the most accidents.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** 중상-난이도

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** 🐧 회색펭귄의 분포를 지도에서 시각화하세요. 또한, 회색펭귄의 수와 해안선 길이 간의 관계를 조사하여 시각화하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** (This problem is suitable for the "penguins" dataset and requires a higher level of difficulty. It involves creating a map visualization to show the distribution of Adélie penguins and then exploring the relationship between the number of penguins and the coastline length, which can be visualized using a scatter plot or regression line.)

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** 🌊 "펭귄의 성별에 따라 깃털의 길이를 스페셜 플롯으로 나타내세요. 또한, 각각의 성별에 해당하는 깃털의 길이의 평균을 계산하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a special plot (e.g. violin plot) showing the distribution of feather length by gender, and calculating the average feather length for each gender.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** 🛳️ "타이타닉의 생존자와 사망자의 나이 분포를 히스토그램으로 나타내세요. 또한, 특정 나이대에 해당하는 생존률을 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a histogram showing the distribution of age by survival status, and identifying specific patterns in the data (e.g. peak survival rates for certain age groups).

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** 😊 "mpg 데이터셋에서 자동차의 연비와 엔진 크기를 scatter plot으로 나타내세요. 이 그래프에서 연비가 가장 높은 자동차와 가장 낮은 자동차를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a scatter plot and identify patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** 🐧 "펭귄의 몸무게와 날개를 길게 하는 기관 사이의 관계를 bar chart으로 나타내세요. 또한, 몸무게가 가장 큰 펭귄과 가장 작은 펭귄을 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a bar chart and identify specific patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** "mpg 데이터셋에서 자동차의 연비와 엔진 사이즈 간의 관계를 scatter plot으로 나타내세요. 또한, 연비가 가장 좋은 자동차 모델을 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a scatter plot and identify a pattern in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** "펭귄 데이터셋에서 각 종의 몸무게와 날개의 길이 간의 관계를 bar chart으로 나타내세요. 또한, 가장 큰 몸무게를 가진 펭귄 종을 식별하세요. 또한, 날개의 길이가 가장 긴 펭귄 종을 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a bar chart and identify specific patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** 🌊 "펭귄의 몸무게에 따라 wingspan이 어떻게 변화하는지 scatter plot을 사용하여 시각화하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a scatter plot showing the relationship between the penguin's body mass and wingspan.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** 🚣‍♀️ "타이타닉호의 승객수에 따라 생존률과 사망률의 분포를 bar chart으로 나타내세요. 또한, 생존률이 가장 높은/낮은 승객수를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a bar chart and identify specific patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** titanic
**난이도:** 중하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("titanic")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 🚗 "mpg 데이터셋에서 자동차의 연비가 제일 높은 5대와 가장 낮은 5대를 비교하여 수치를 시각화하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a bar chart or scatter plot comparing the top 5 and bottom 5 cars by MPG.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 🐧 "펭귄 데이터셋에서 특정 종의 펭귄의 평균 몸길이와 몸무게 간의 상관관계를 시각화하여 설명하세요. 또한, 특정 몸무게 범위에 해당하는 펭귄의 평균 몸길이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a scatter plot and identify specific patterns in the data, such as the correlation between body length and body mass, as well as the average body length for a specific body mass range.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 🌊 "펭귄의 몸무게에 따라 날개 길이의 분포를 막대 그래프로 나타내세요. 또한, 특정 몸무게에 해당하는 날개 길이의 평균을 구하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a bar chart showing the relationship between penguin body weight and wing length.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 🚣‍♀️ "타이타닉号의 승객 수에 따라 생존율의 분포를 스톡플로트으로 나타내세요. 또한, 특정 생존율에 해당하는 승객 수의 하위 집단을 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a scatter plot and identify specific patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** 🌼 "iris꽃의 4가지 품종에 따라 Sepal Length와 Sepal Width의 상관관계를 히스토그램으로 나타내세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a histogram showing the relationship between Sepal Length and Sepal Width for each iris species.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** 🛬 "2019년 12월에 미국에서 이륙한 항공편의 평균 비용과 항공편의 길이를 Scatter Plot으로 나타내세요. 또한, 평균 비용이 1000달러 내외인 항공편의 하위 집단을 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a scatter plot and identify specific patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 하

**Q.** 🌼 "iris dataset에서 각 꽃종의 Sepal Length와 Petal Length의 관계를 히스토그램으로 나타내세요. 또한, 각 꽃종의 평균 Sepal Length과 Petal Length을 함께 표시하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a histogram showing the relationship between two variables.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 하

**Q.** 🛬 "flights dataset에서 2019년 1월 1일부터 31일까지의 항공편의 출발지와 도착지의 분포를 지도를 사용하여 나타내세요. 또한, 특정 지역의 항공편 수가 가장 많은지 확인하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a map and identify specific patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** 🏞️ "이리스꽃의 세 가지 품종별로 평균 꽃 길이를 비교하는 막대 그래프를 만들어보세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a bar chart comparing the average sepal length of three iris species.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** 🛬 "도시와 공항 간의 평균 항속 거리를 지도에 표시하여, 가장 먼 항속 거리를 보이는 도시를 식별하세요. 또한, 항속 거리가 가장 긴 3개의 도시를 확인하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a map and identify specific patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중하

**Q.** 🌼 "이리스 꽃의 품종별Sepal Length의 분포를 히스토그램으로 나타내세요. 또한, 각 품종의 Sepal Length의 평균을 구하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a histogram showing the distribution of Sepal Length across different iris species.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중하

**Q.** 🛬 "뉴욕 JFK 공항에서 출발한 전세기편의 평균 비용을 구하세요. 또한, 비용을 10,000달러 단위로 구분하여 막대 그래프를 만들어주세요. 또한, 특정 비용 구간의 전세기편의 수를 확인하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a bar chart showing the average cost of flights departing from JFK, identify patterns in the data, and calculate specific statistics.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 🌼 "이리스 꽃들의 품종별로 Sepal Length 분포를 히스토그램으로 나타내세요. 또한, 품종별로 가장 큰 Sepal Length를 나타내는 꽃을 찾아보세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a histogram and identify the most common values.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 🛬 "출발 도시와 도착 도시 간의 항공편 수를 보여주는 heatmap을 생성하세요. 또한, 특정 출발 도시에서 가장 많이 도착하는 도시를 찾아보세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a heatmap and identify specific patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 📊 **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 🌼 "iris 꽃의 3가지 종류에 따라Sepal Length와 Petal Length의 평균을 비교하여 스타일 플롯으로 나타내세요. 또한, Sepal Length가 6.5 이상인 경우의 꽃 종류를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a simple plot comparing the mean values of Sepal Length and Petal Length for different iris species.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 📊 **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** 🛬 "시애틀에서 출발한 항공편의 수송 중인 5가지 항공사에 따라 출발지, 도착지, 탑승객 수, 비용을 그래프로 나타내세요. 또한, 비용이 가장 높은 항공사와 가장 낮은 항공사 사이의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a graph that combines multiple variables and identifies patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** penguins
**난이도:** 중상

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("penguins")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** 🐧 "펭귄의 두 마리의 성별에 따라 몸무게와 날개 길이를 비교 그래프로 나타내세요. 또한, 성별 간의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a simple plot comparing the mean values of two variables for different groups.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** 🚗 "자동차사고 데이터에서 5가지 주어진 변수(월, 주간, 일자, 사망자수, 부상자수)로 구성된 3D scatter plot을 생성하여, 사망자수와 부상자수의 관계를 분석하세요. 또한, 변수 간의 상관관계를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a 3D scatter plot that combines multiple variables and identifies patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** 🐧 "펭귄의 몸무게, 날개 길이, 피부 길이를 그래프로 나타내세요. 또한, 펭귄의 몸무게가 가장 큰 종과 가장 작은 종 사이의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a simple plot comparing the three variables.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** 🚗 "차량 충돌사고의 지역, 날짜, 시간, 부상자 수, 사망자 수를 그래프로 나타내세요. 또한, 지역별로 부상자 수가 가장 높은 지역과 가장 낮은 지역 사이의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a graph that combines multiple variables and identifies patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중하

**Q.** 📊 **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중하

**Q.** 🐧 "펭귄의 몸길이, 날개길이, 몸무게에 따라 3가지 종을 분류하여 그래프로 나타내세요. 또한, 각 종의 평균 몸길이를 확인하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a simple plot comparing the mean values of different variables for different categories.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중하

**Q.** 📊 **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중하

**Q.** 🚗 "자동차 충돌 사고의 경우, 도로 형태, 교통속도, 날씨, 피해 정도에 따라 그래프로 나타내세요. 또한, 가장 위험한 조합을 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a graph that combines multiple variables and identifies patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** 📊 **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** "펭귄의 몸무게와 날개길이를 비교하여, 몸무게가 3000g 이하/초과인 펭귄의 날개길이를 그래프로 나타내세요. 또한, 몸무게가 3000g 이하/초과인 펭귄의 날개길이 평균을 계산하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** This problem is suitable for a low-intermediate level, as it requires basic visualization skills to create a simple plot and calculate mean values.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** 📊 **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** "자동차 교통사고의 지역별 발생 빈도를 분석하여, 가장 교통사고가 많은 지역과 가장 교통사고가 적은 지역을 식별하세요. 또한, 교통사고의 발생 빈도를 지역별로 그래프로 나타내세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** This problem is suitable for a medium-high level, as it requires more advanced visualization skills to create a graph that combines spatial and categorical data, and identifies patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** 🐧 "펭귄의 두 종에 따라 몸무게, 날개 길이, 피부색을 비교 그래프로 나타내세요. 또한, 각종의 특징을 분석하여 가장 큰 차이를 보이는 특징을 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a simple plot comparing the characteristics of two penguin species.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** 🚗 "자동차 충돌 사고의 5가지 요인(운전자의 나이, 성별, 속도, 날씨,道路 조건)에 따라 사고의 빈도수를 그래프로 나타내세요. 또한, 가장 큰 영향을 미치는 요인을 식별하고, 이를 통해 사고 예방을 위한策略를 제안하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중상

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a graph that combines multiple variables and identifies patterns in the data to inform strategies for preventing car crashes.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** 📊 **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** 🐧 "펭귄의 몸길이, 몸무게, 날개길이에 따라 3종의 펭귄을 분류하세요. 또한, 각 종의 특징을 보여주는 그래프를 생성하여 펭귄의 특성을 분석하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a simple plot comparing the distributions of the three penguin species.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** 📊 **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** 🚗 "자동차 충돌 사고의 지역, 속도, gender, age에 따라 4가지 변수를 그래프로 나타내세요. 또한, 충돌 사고의 빈도를 가장 높은 지역과 가장 낮은 지역 사이의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a graph that combines multiple variables and identifies patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** 📊 **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** "하루 중에 교통사고가 가장多하게 되는 시간대를 확인하세요. 'car_crashes' 데이터셋을 사용하여, 교통사고가 발생한 시간대별로 분포를 그래프로 나타내세요. 또한, 가장_BUSY한 시간대와 가장 비BUSY한 시간대를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a simple plot comparing the distribution of car crashes by hour of the day.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** 📊 **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** "음식점에서 서비스를 제공하는 직원의 팁을 분석하세요. 'tips' 데이터셋을 사용하여, 직원의 성별, 경력, 서비스 기간별 팁의 평균을 그래프로 나타내세요. 또한, 이러한 변수에 따라 팁의 평균이 가장 높은 직원과 가장 낮은 직원 사이의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a graph that combines multiple variables and identifies patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 하

**Q.** 🚗 "자동차 충돌사고의 빈도를 나타내는 지도에서, 2010년부터 2019년까지의 데이터를 사용하여 도시별 충돌사고 빈도를 비교하세요. 또한, 도시별 충돌사고 빈도를 가장 높은 도시와 가장 낮은 도시 사이의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a map that displays the frequency of car crashes in different cities over a period of time.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 하

**Q.** 🍴 "요리 가이드에서 제공하는 요리 Tip의 평균점수를 나타내는 히트맵에서, 특정 요리 카테고리별 Tip의 평균점수를 비교하세요. 또한, 요리 카테고리별 Tip의 평균점수를 가장 높은 카테고리와 가장 낮은 카테고리 사이의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a heat map that combines multiple variables and identifies patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 하

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** 📊 **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** 🚗 "고속도로 사고 현황을 분석하여, 사고가 가장 많이 발생하는 도로 구간을 확인하세요. 또한, 이 도로 구간에서 사고가 발생하는 시간을 분석하여 Peak Hour를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a simple plot comparing the frequency of accidents on different road segments and identifying patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** 📊 **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** 🏨 "이벤트에 참석한 고객의 성별, 연령, 예상 수입 등에 따라 예상 수입을 예측하는 모델을 개발하세요. 또한, 모델의 성능을 평가하고, 성별에 따라 예상 수입의 차이를 분석하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a graph that combines multiple variables and evaluates the performance of a predictive model.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** 🚗 "시카고에서 발생한 교통사고의 5가지 유형에 따라 사망자 수, 부상자 수, 피해액을 막대 그래프로 나타내세요. 또한, 사망자 수와 부상자 수가 가장 높은 유형을 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a simple bar chart comparing categorical data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** 💸 "미국에서 제공하는 항공편의 탑승객 수, 평균 비용, 평균 지연 시간을 scatter plot으로 나타내세요. 또한, 탑승객 수가 가장 많은 항공편과 지연 시간이 가장 짧은 항공편의 비용을 비교하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** car_crashes
**난이도:** 중하

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a scatter plot that combines multiple continuous variables and identifies patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("car_crashes")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중상

**Q.** **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중상

**Q.** 🚗 "차량 사고 현황에 따라, 사망자 수, 부상자 수, 총 사고 수를 그래프로 나타내세요. 또한, 사망자 수와 부상자 수 사이의 관계를 분석하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중상

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a simple plot comparing the mean values of three variables.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중상

**Q.** **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중상

**Q.** 🍴 "레스토랑에서 제공하는 팁의 평균 액수를 분석하여, 팁의 액수가 가장 높은 레스토랑과 가장 낮은 레스토랑 사이의 차이를 식별하세요. 또한, 팁의 액수가 높은 레스토랑과 낮은 레스토랑의 서비스 품질을 비교하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중상

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a graph that combines multiple variables and identifies patterns in the data, and also requires analysis and comparison of the results.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중상

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** 📊 **Problem 1:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** 🚗 "도로교통사고의 횟수를 분석하여, 날씨에 따른 교통사고 빈도를 시각화하세요. 또한, 가장 많은 교통사고가 발생하는 날씨와 가장 적은 교통사고가 발생하는 날씨를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** This problem is suitable for a beginner level, as it requires basic visualization skills to create a simple plot comparing the frequency of traffic accidents under different weather conditions.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** 📊 **Problem 2:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** 🍴 ".tip dataset에서 성별, 직업,_tip의 평균치를 비교하여, 어떤 직업과 성별이 가장 많은 tip을 받는지 시각화하세요. 또한, tip의 평균치가 가장 높은 직업과 가장 낮은 직업 사이의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** This problem is suitable for an intermediate level, as it requires more advanced visualization skills to create a graph that combines multiple variables and identifies patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** flights
**난이도:** 중상

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("flights")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** Here's a problem suitable for a mid-level difficulty:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** 📊 **Problem 3:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** 🌼 "타이타닉 dataset에서 생존자와 죽은 사람의 특징을 분석하여, 생존자와 죽은 사람의 평균 나이, 성별, 등급을 비교하여 시각화하세요. 또한, 생존자와 죽은 사람의 구별을 하는 데 가장 중요한 특징을 분석하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 하

**Q.** This problem requires the ability to create a visualization that compares multiple variables (age, gender, class) between two groups (survived and died) and identifies the most important characteristics that distinguish between the two groups. It's a challenging problem that requires some experience with data visualization and analysis.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중하

**Q.** Here's a problem that meets the conditions:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중하

**Q.** 📊 **Problem:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중하

**Q.** 🌹 "tips" 데이터셋에서, 'total_bill'과 'tip'의 관계를 분석하여, 'total_bill'이 20-50달러 범위일 때 'tip'의 평균치를 시각화하세요. 또한, 'tip'의 평균치가 가장 높은 'total_bill' 범위와 가장 낮은 'total_bill' 범위 사이의 차이를 식별하세요.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중하

**Q.** "Using the 'tips' dataset, analyze the relationship between 'total_bill' and 'tip' and visualize the average tip for 'total_bill' ranges of 20-50 dollars. Additionally, identify the difference in average tip between the highest and lowest 'total_bill' ranges."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중하

**Q.** This problem is suitable for a beginner to intermediate level, as it requires basic to intermediate visualization skills to create a scatter plot and identify patterns in the data.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중

**Q.** Here's a problem that fits the given conditions:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중

**Q.** 📊 **Problem:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중

**Q.** 🏥 ".titanic dataset에서 생존률을 분석하여, 각 등급(class)별 생존률을 시각화하세요. 또한, 생존률이 가장 높은 등급과 가장 낮은 등급 사이의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중

**Q.** This problem is suitable for a middle level, as it requires basic to intermediate visualization skills to create a plot that compares categorical data (class) and continuous data (survival rate).

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중

**Q.** Let me know if you'd like me to adjust the difficulty level or create more problems! 😊

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** Here's a problem that fits the given conditions:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** 📊 **Problem:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** 🌼 "iris dataset에서 꽃의 품종(sepal length, sepal width, petal length, petal width)을 고려하여, 각 품종별 꽃의 크기를 시각화하세요. 또한, 같은 품종 내에서 가장 큰 꽃과 가장 작은 꽃의 크기 사이의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 하

**Q.** This problem is suitable for a middle level, as it requires basic to intermediate visualization skills to create a plot that compares categorical data (species) and continuous data (sepal and petal lengths). The problem also requires the ability to identify and compare the differences between the largest and smallest flowers within each species.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중하

**Q.** Here's a problem that fits the given conditions:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중하

**Q.** **Problem:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중하

**Q.** 🌼 "iris dataset에서 꽃의 가로 직경과 높이 사이의 관계를 분석하여, 각 종(species)별로 직경과 높이의 상관관계를 시각화하세요. 또한, 각 종의 직경과 높이의 평균을 비교하여, 가장 큰 차이를 보이는 종을 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** tips
**난이도:** 중하

**Q.** This problem is suitable for a middle-low level, as it requires basic visualization skills to create a scatter plot that compares two continuous variables (sepal length and sepal width) and categorical data (species). Additionally, it requires basic statistical knowledge to calculate the mean and compare the differences between species.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("tips")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중

**Q.** Here's a problem that fits the given conditions:

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중

**Q.** **문제:**

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중

**Q.** 🏞️ "iris dataset에서 꽃의 속성을 분석하여, 각 품종별花받침의 길이를 시각화하세요. 또한, 가장 큰 꽃받침 길이를 가진 품종과 가장 작은 꽃받침 길이를 가진 품종 간의 차이를 식별하세요."

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)

# 🔧 Tool: 시각화

**Dataset:** iris
**난이도:** 중

**Q.** This problem requires basic to intermediate visualization skills to create a plot that compares categorical data (flower species) and continuous data (petal length). It's suitable for a middle level, as it requires some understanding of data visualization concepts and techniques.

In [ ]:
import seaborn as sns
import pandas as pd
dataset = sns.load_dataset("iris")
dataset.head(1)